* {
    margin: 0;
    padding: 0;
}

/*****************************************container******************************************/
body {
    overflow-x: hidden;
}

.container {
    background-color: black;
    width: 100vw;
    height: 529vh;
    overflow-x: hidden;
    position: relative;
}

/*******************************Home/Landing Page *************************************/
.container .main1 {
    height: 100vh;
    width: 70vw;
    background-color: black;
    margin-left: 13.75vw;
    position: relative;
    flex-wrap: wrap;
}

.container .main1 .totalnav {
    width: 70vw;
    height: 10vh;
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    padding-top: 1vh;
}

.container .main1 .totalnav .logo {
    color: white;
    background-color: black;

}

.container .main1 .totalnav .logo h4 {
    font-size: 3.5vw;
    color: rgb(254, 141, 141);
}

.container .main1 .totalnav .logo h4 span {
    font-size: 2.25vw;
    color: rgb(254, 141, 141);
}

.container .main1 .navbar {
    width: 50%;
    margin-left: 15vw;
}

.container .main1 .totalnav .navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.container .main1 .navbar ul li {
    margin-top: 2vh;
    font-size: 1.85vw;

}

.container .main1 .navbar ul li a {
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 650;
    color: white;
    background-color: black;
    transition: 0.7 ease;
}

.container .main1 .navbar a:hover {
    border-bottom:1px solid  rgb(254, 141, 141);
}

.container .main1 .devinfo {
    width: 70vw;
    display: flex;
}

.container .main1 .devinfo .info {
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 25vh;
    margin-left: 6vw;
}

.container .main1 .devinfo .pic img {
    height: 40vh;
    width: 22vw;
    margin-top: 25vh;
    margin-left: 6vw;
    mix-blend-mode: luminosity;
}

.container .main1 .devinfo .info .hi {
    font-size: 4.25vw;
    color: white;
    margin-bottom: 0.65vh;
}

.container .main1 .devinfo .info .name {
    font-size: 3.1vw;
    color: white;
    margin-bottom: 0.75vh;
}

.container .main1 .devinfo .info .name span {
    font-size: 4vw;
    color: rgb(254, 141, 141);
}

.container .main1 .devinfo .info .about {
    font-size: 1.5vw;
    color: white;
}

.container .main1 .scroll {
    margin-top: 10vh;
    margin-left: 6vw;
    padding: 1vw 1vw;
    border-radius: 7px;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    cursor: pointer;
    border-style: none;
    border-bottom: 0.1vw solid rgb(255, 127, 127);
    transform: none;
}
.container .main1 .scroll:hover{
    transform: translateX(18px);
    color:rgb(255, 127, 127);
    background-color: black;
}
/*****************************************Projects*****************************************************/
.container .main2 {
    height: 230vh;
    width: 70vw;
    margin-left: 13.75vw;
    background-color: black;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    flex-wrap: wrap;
}

.container .main2 .next {
    width: 70vw;
    height: 30vh;
    font-size: 1vw;
    text-align: center;
    align-items: center;
    margin-top: 2.5vh;
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
}

.container .main2 .next p {
    font-size: 1.25rem;
}

.container .main2 h2 {
    height: 12vh;
    text-align: center;
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.container .main2 .myprojects .project1 {
    width: 70vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    margin-right: 5vw;
    margin-top: 4vh;
    /* flex-wrap: wrap; */
}

.container .main2 .myprojects .project1 .details {
    width: 60vw;
    height: 30vh;
    font-size: 2vw;
}

.container .main2 .myprojects .project1 .details a {
    font-size: 1vw;
    color: rgb(244, 152, 152);
    margin-left: 1vw;
    text-decoration: none;
}

.container .main2 .myprojects .project1 .techstack {
    font-size: 1.5vw;
}

.container .main2 .myprojects .project1 .details p {
    font-size: 1vw;
}

.container .main2 .myprojects .project1 .pic img {
    width: 60vw;
    height: 64vh;
    border: 0.1vw solid rgb(244, 152, 152);
    border-radius: 2vw;
}


.container .main2 .myprojects .project2 {
    width: 70vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    background-color: black;
    color: white;
    margin-top: 10vh;
}

.container .main2 .myprojects .project2 .details {
    width: 60vw;
    height: 30vh;
    margin-left: 5vw;
    font-size: 2vw;
}

.container .main2 .myprojects .project2 .details a {
    font-size: 1vw;
    color: rgb(244, 152, 152);
    margin-left: 1vw;
    text-decoration: none;
}

.container .main2 .myprojects .project2 .techstack {
    font-size: 1.5vw;
}

.container .main2 .myprojects .project2 .details p {
    font-size: 1vw;
}

.container .main2 .myprojects .project2 .pic img {
    width: 60vw;
    height: 64vh;
    margin-left: 9.9vw;
    border: 0.1vw solid rgb(244, 152, 152);
    border-radius: 2vw;
}


/*****************************************skills*********************************************/
.container .main3 {
    width: 70vw;
    height: 110vh;
    background-color: fuchsia;
    margin-left: 13.75vw;
    display: flex;
    background-color: black;
    color: white;
}

.container .main3 .skills .details {
    width: 35vw;
    height: 30vh;
    margin-left: 17vw;
    text-align: center;
}

.container .main3 .skills .details h2 {
    font-size: 4vw;
    margin-bottom: 0.5vw;
    font-family: 'Poppins', sans-serif;
}

.container .main3 .skills .details p {
    font-size: 1.5vw;
    line-height: 1.2;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
}

.container .main3 .skills .techicons {
    width: 70vw;
    height: 70vh;
    margin-top: 9vw;
    margin-left: 11vw;
}

.container .main3 .skills .techicons img {
    width: 10vw;
    height: 17vh;
}

.container .main3 .skills .techicons .set1 {
    display: flex;
    gap: 2vw;

}

.container .main3 .skills .techicons .set2 {
    display: flex;
    gap: 1vw;
    margin-left: 2vw;
    margin-top: 2vh;
}

.container .main3 .skills .techicons .set3 {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.container .main3 .skills .techicons .set3 img {
    margin-right: 23.6vw;
}

/*****************************************contact form***************************************/

.container .main4 {
    width: 70vw;
    height: 89vh;
    margin-left: 13.75vw;
    background-color: black;
    color: white;
}

.container .main4 .contactform .contactme {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3vw;
}

.container .main4 .contactform .describe {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5vw;
}

.container .main4 .contactform .describe span {
    font-size: 2.5vw;
    color: rgb(244, 152, 152);
}

.container .main4 .contactform .form {
    margin-top: 4vh;
    margin-left: 15vw;
}

.container .main4 .contactform .form input {
    width: 40vw;
    height: 5vh;
    margin-bottom: 2vh;
    font-weight: 600;
}

.container .main4 .contactform .form textarea {
    width: 40vw;
    height: 25vh;
    font-weight: 600;
}

.container .main4 .contactform .form input,
textarea {
    font-size: 1.25vw;
}

.container .main4 .contactform .form .sendmsg {
    margin-top: 1rem;
    padding: 12px 12px;
    border-radius: 7px;
    font-size: 1.15rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 127, 127);
    color: white;
    cursor: pointer;
    border: 1px solid white;
    transform: none;
}

/***************************************button*******************************************/

.btn button {
    margin-top: 1rem;
    padding: 12px 12px;
    border-radius: 7px;
    font-size: 1.15rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 127, 127);
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 1px solid white;
}

button:hover {
    transform: scale(0.9);
    background-color: black;
    color: rgb(255, 127, 127);
}

/************************************Hover on techstack i tag **************************************/
.techstack i:hover {
    background-color: white;
    color: black;
}

/***********************hamburger***************************************/
.container .main1 .totalnav .hamburger{
    margin-top: 3vh;
    display:none;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
/* .container .main1 .totalnav .navbar .nav-item{
    left: 40px;
    width: 100%;
    height: 150px;
    background-color: rgb(247, 145, 145);
} */
.container .main1 .totalnav .hamburger span {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;  
}
.container .main1 .totalnav .hamburger .hamline2{
    width: 20px;
    height: 3px;
    margin-right: 0;
}
/*****************ham ended***************************/